body {
    display: flex;
    background-color: rgb(114, 114, 114);
    flex-direction: column;
    align-items: center;
    padding: 12px 50px 12px 50px;
}

.container-top {
    background-color: #1F2937;
    width: 1000px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.headerlogo {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.headerlinks {
    display: flex;
    gap: 24px;
    padding-right: 24px;
    list-style-type: none;
}